<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mue.com.chatup">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Chat up"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="Chat up" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
